<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>ForumDemoApp</title>
</h:head>
<h:body>
    <div style="width:960px; margin:0 auto;">
    <h:form id="messages-form">

        <!-- Table for showing previous messages -->

        <p:dataTable id="messages" var="message" value="#{dtMessagesEntityController.messages}" >

            <p:column headerText="Username">
                <h:outputText value="#{message.username}"/>
            </p:column>

            <p:column headerText="Text">
                <h:outputText value="#{message.text}"/>
            </p:column>

            <p:column headerText="MessageSent">
                <h:outputText value="#{message.messageTime}"/>
            </p:column>

        </p:dataTable>

        <!-- Real From Starts Here -->

        <h3>Send your opinion!</h3>
        <h:panelGrid columns="3">
            <h:outputLabel for="username">Username:</h:outputLabel>
            <h:inputText id="username" value="#{dtMessagesEntityController.username}" name="username"> </h:inputText>
            <br> </br>

            <h:outputLabel for="message-text">Message:</h:outputLabel>
            <h:inputTextarea rows="10" cols="50" id="message-text" value="#{dtMessagesEntityController.text}" name="message-text"> </h:inputTextarea>
            <br> </br>

            <h:commandButton id="submit-btn" value="Submit" actionListener = "#{dtMessagesEntityController.saveMessage}" update="messages"> </h:commandButton>

        </h:panelGrid>
        <p:poll interval="5" listener="#{dtMessagesEntityController.updateMessages}" update="messages"/>
    </h:form>
    </div>
</h:body>

</html>